<head>
    <meta charset="utf-8">
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/dart-logo.gif" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://www.dart-europe.eu/basic-search.php" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;">DART-Europe E-theses Portal
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/britishlibrary.jpg" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://ethos.bl.uk/Home.do;jsessionid=E197C65209655372C956DDFBA5742A08" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;">British Library EThOS
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/narcis_logo.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://www.narcis.nl/" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> NARCIS Library
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/national_ETD_logo.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://www.netd.ac.za/" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;">National ETD Portal
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/geni_lib_logo.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://gen.lib.rus.ec/" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> Library Genesis
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/ketab.jpg" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="https://ketab.io" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> Ketab Io
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/caltech.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="https://authors.library.caltech.edu" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> CaltechAUTHORS
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/freeebooks.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="https://www.free-ebooks.net" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> Free eBooks for Life
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/getfreeebook.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="https://www.getfreeebooks.com" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> Get Free Ebooks
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>

<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="main_pics/logo.jpg" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://freecomputerbooks.com" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> free computer books
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>

<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="main_pics/logo.jpg" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://www.freetechbooks.com/" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> Free Tech Books
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>

<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/bookyard_logo.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://www.bookyards.com/en/welcome%20-%20.WC1oM9J96Um" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> Book Yards
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>

<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/baen.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="http://www.baen.com" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> BEAN Library
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>

<table class="list-item" style="box-sizing: border-box; height: auto; width: 100%; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin: 0 auto 0 auto; padding: 5% 10% 5px 10%;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="list-item-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; overflow-x: hidden; overflow-y: hidden; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)">
                <table class="list-item-content" style="box-sizing: border-box; border-collapse: collapse; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 150px; width: 100%;" width="100%" height="150">
                    <tbody style="box-sizing: border-box;">
                        <tr class="list-item-row" style="box-sizing: border-box;">
                            <td class="list-cell-left" style="box-sizing: border-box; width: 30%; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" width="30%">
                                <img src="global_free_pics/planet_ebook_logo.png" alt="Image" class="list-item-image" style="box-sizing: border-box; color: rgb(217, 131, 166); font-size: 45px; width: 100%;">
                                    </td>
                            <td class="list-cell-right" style="box-sizing: border-box; width: 70%; color: rgb(111, 119, 125); font-size: 13px; line-height: 20px; padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;" width="70%">
                                <a href="https://www.planetebook.com" class="c12841" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px; width: 100%; height: auto;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;"> Planet eBook
                                </h1></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="c13661" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px; background-color: #3e1616;" width="100%" bgcolor="#3e1616">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>
</head>
