<head>
    <meta charset="utf-8">
        <table class="c9643" style="box-sizing: border-box; height: 150px; margin: 0 auto 10px auto; padding: 5px 5px 5px 5px; width: 100%;" width="100%" height="150">
            <tbody style="box-sizing: border-box;">
                <tr style="box-sizing: border-box;">
                    <td class="c9676" style="box-sizing: border-box; font-size: 12px; font-weight: 300; vertical-align: top; color: rgb(111, 119, 125); margin: 0; padding: 0; width: 50%;" width="50%" valign="top">
                        <img class="c10941" src="main_pics/logo.jpg" style="box-sizing: border-box; color: black; margin: 0 0 0 38%;">
                            </td>
                </tr>
            </tbody>
        </table>
<table class="c9098" style="box-sizing: border-box; width: 100%; margin-top: 10px; margin-bottom: 10px;" width="100%">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="divider" style="box-sizing: border-box; background-color: rgba(0, 0, 0, 0.0980392); height: 1px;" height="1" bgcolor="rgba(0, 0, 0, 0.0980392)">
            </td>
        </tr>
    </tbody>
</table>


<table class="grid-item-row" style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; width: 100%; border-collapse: separate; background-color: #ffffff; vertical-align: baseline;" width="100%" bgcolor="#ffffff" valign="baseline">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="grid-item-cell2-r" style="box-sizing: border-box; vertical-align: top; padding-left: 10px; width: 50%;" width="50%" valign="top">
                <table class="grid-item-card" style="box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;" width="100%">
                    <tbody style="box-sizing: border-box;">
                        <tr style="box-sizing: border-box;">
                            <td class="grid-item-card-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)" align="center">
                                <img src="main_pics/lib1.jpg" alt="Image" class="grid-item-image" style="box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 100%;">
                                    <table class="grid-item-card-body" style="box-sizing: border-box; text-align: center; width: 100%; height: 100%;" width="100%" height="100%" align="center">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="grid-item-card-content" style="box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;" width="100%">
                                                    <a href="global_free.html" class="c6222" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;">
                                                        <strong style="box-sizing: border-box;">کتابخانه های رایگان بین المللی</strong>
                                                    </h1></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="grid-item-cell2-r" style="box-sizing: border-box; vertical-align: top; padding-left: 10px; width: 50%;" width="50%" valign="top">
                <table class="grid-item-card" style="box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;" width="100%">
                    <tbody style="box-sizing: border-box;">
                        <tr style="box-sizing: border-box;">
                            <td class="grid-item-card-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)" align="center">
                                <img src="main_pics/lib2.jpg" alt="Image" class="grid-item-image" style="box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 100%;">
                                    <table class="grid-item-card-body" style="box-sizing: border-box; text-align: center; width: 100%; height: 100%;" width="100%" height="100%" align="center">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="grid-item-card-content" style="box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;" width="100%">
                                                    <a href="global.html" class="c6222" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;">
                                                        <strong style="box-sizing: border-box;">کتابخانه های غیر رایگان بین المللی</strong>
                                                    </h1></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<table class="grid-item-row" style="box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; width: 100%; border-collapse: separate; background-color: #ffffff; vertical-align: baseline;" width="100%" bgcolor="#ffffff" valign="baseline">
    <tbody style="box-sizing: border-box;">
        <tr style="box-sizing: border-box;">
            <td class="grid-item-cell2-r" style="box-sizing: border-box; vertical-align: top; padding-left: 10px; width: 50%;" width="50%" valign="top">
                <table class="grid-item-card" style="box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;" width="100%">
                    <tbody style="box-sizing: border-box;">
                        <tr style="box-sizing: border-box;">
                            <td class="grid-item-card-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)" align="center">
                                <img src="main_pics/lib3.jpg" alt="Image" class="grid-item-image" style="box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 100%;">
                                    <table class="grid-item-card-body" style="box-sizing: border-box; text-align: center; width: 100%; height: 100%;" width="100%" height="100%" align="center">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="grid-item-card-content" style="box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;" width="100%">
                                                    <a href="iran_free.html" class="c6222" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;">
                                                        <strong style="box-sizing: border-box;">کتابخانه های رایگان ملی</strong>
                                                    </h1></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="grid-item-cell2-r" style="box-sizing: border-box; vertical-align: top; padding-left: 10px; width: 50%;" width="50%" valign="top">
                <table class="grid-item-card" style="box-sizing: border-box; width: 100%; padding-top: 5px; padding-right: 0px; padding-bottom: 5px; padding-left: 0px; margin-bottom: 10px;" width="100%">
                    <tbody style="box-sizing: border-box;">
                        <tr style="box-sizing: border-box;">
                            <td class="grid-item-card-cell" style="box-sizing: border-box; background-color: rgb(255, 255, 255); overflow-x: hidden; overflow-y: hidden; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-align: center; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px;" bgcolor="rgb(255, 255, 255)" align="center">
                                <img src="main_pics/lib4.jpg" alt="Image" class="grid-item-image" style="box-sizing: border-box; line-height: 150px; font-size: 50px; color: rgb(120, 197, 214); margin-bottom: 15px; width: 100%;">
                                    <table class="grid-item-card-body" style="box-sizing: border-box; text-align: center; width: 100%; height: 100%;" width="100%" height="100%" align="center">
                                        <tbody style="box-sizing: border-box;">
                                            <tr style="box-sizing: border-box;">
                                                <td class="grid-item-card-content" style="box-sizing: border-box; font-size: 13px; color: rgb(111, 119, 125); padding-top: 0px; padding-right: 10px; padding-bottom: 20px; padding-left: 10px; width: 100%; line-height: 20px;" width="100%">
                                                    <a href="iran.html" class="c6222" style="box-sizing: border-box; display: inline-block; padding: 5px; min-height: 50px; min-width: 50px;"><h1 class="card-title" style="box-sizing: border-box; font-size: 28px; font-weight: 300; text-align: center; text-shadow: 0 5px 4px #1d5330; vertical-align: baseline; color: #634141; line-height: 41px;">
                                                        <strong style="box-sizing: border-box;">کتابخانه های غیر رایگان ملی</strong>
                                                    </h1></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</head>
